/*media querys*/
/* mobile */
@media only screen and (max-width: 400px) {
    .mobile {
      display: none;
      text-align: center;
      margin-top: 120px;
    }
  }
  /* tablet */
  /* Desktop */